<app-header></app-header>
<div class="container-fluid" id="main">
    <div class="row row-offcanvas row-offcanvas-left">
        <app-navigation></app-navigation>


        <div class="col main pt-5 mt-3">
            <div class="row mb-3">
                <div class="col-sm-8">
                    <h2>Friend List</h2>
                </div>
                <div class="col-sm-3">
                    <button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-info add-new"><i
                            class="fa fa-plus"></i> Add Friend</button>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Email ID</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let friend of this.friendList">

                            <td>
                                {{friend.email}}
                            </td>
                           
                           

                        </tr>
                    </tbody>
                </table>
            </div>
            <!--/row-->

            <hr>
        </div>
        <!--/main col-->
    </div>

</div>
<!--/.container-->



<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Add Friend</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                    <span class="sr-only">Close</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="text" [(ngModel)]="email" class="form-control add-todo" placeholder="Email ID">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" (click)="sendInvite()" class="btn btn-primary-outline" data-dismiss="modal">Send
                    Invite</button>
            </div>
        </div>
    </div>
</div>