<app-header></app-header>
<div class="container-fluid" id="main">
    <div class="row row-offcanvas row-offcanvas-left">
        <app-navigation></app-navigation>
        <div class="col main pt-5 mt-3">
            <div class="row mb-3">
                <div class="col-sm-8">
                    <h2>Task Detail</h2>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Title</th>
                            <th scope="col">Description</th>
                            <th scope="col">Status</th>
                            <th scope="col">Subtask</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf="this.b">
                            <td>{{this.b.title}}</td>
                            <td>{{this.b.description}}</td>
                            <td>{{this.b.status}}</td>
                            <td>{{this.b.subTask}}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="col-sm-8">
                    <h2>Task History</h2>

                </div>
                <div class="col-sm-3" >
                    <button (click)="undoTaskHistory(this.taskId)" class="btn btn-primary">Undo</button>

                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Action</th>
                            <th scope="col">Done By</th>

                        </tr>
                    </thead>
                    <tbody  *ngIf="this.taskHistory">
                        <tr *ngFor="let history of this.taskHistory">
                            <td>{{history.action}}</td>
                            <td>{{history.updatedBy}}</td>
                        </tr>
                    </tbody>
                </table>
                </div>
                </div>
          </div>
          </div>
          
          














